table,th,tr,td{
    border: 2px solid black;
}

#container-1,#container-2,#container-3,#container-t1,#container-t2,#container-t3,#container-t4{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}

#container-1{
    justify-content: space-around;
}

#container-t1,#container-t2{
    margin-left: 10px;
}